{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title %}Dashboard{% endblock %}
{%block content %}

<div class="row mt-5">
    <div class="card-group">
        <div class="card text-white bg-primary mb-3 d-inline-block mx-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="card text-white bg-warning mb-3 d-inline-block mx-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="card text-white bg-primary mb-3 d-inline-block mx-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>

    </div>
</div>
</div>
</div>
{% endblock %}