{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title %}Login{% endblock %}
{%block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <div class="card m-5">
            <h4 class="card-title pl-3 pt-3 mb-0">Login</h4>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success btn-lg float-right">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}